<!DOCTYPE html>
<html>
<head>
  <!-- include head partial from ./views/_head.ejs -->
  <% include ./_head %>
</head>

<body>
  <header>
    <!-- logo -->
    <img id="logo" src="http://placehold.it/100x50">
    
    <!-- sign up and log in buttons -->
    <div class="btn-group sign-up-log-in" role="group">
      <button type="button" id="sign-up-btn" class="btn btn-default" data-toggle="modal" data-target="#sign-up-modal">Sign up</button>
      <button type="button" id="log-in-btn"class="btn btn-default" data-toggle="modal" data-target="#log-in-modal">Log in</button>
    </div>
    <!-- include sign up and log in modals from ./views/_signUpLogInModal.ejs -->
    <% include ./_signUpLogInModal %>

    <!-- heading jumbotron -->
    <div class="jumbotron">
      <h1>Book search</h1>
    </div>
    
    <!-- intro text -->
    <div id="intro-text-div">
      <h3 id="intro-text">
      Welcome to Book Search! 
      <br> 
      Sign up or log in to search for books and view recommendations.
      </h3>
    </div>
  </header>

  <div class="container">
    <div class="row">
      
      <!-- start of LHC -->
      <div class="col-sm-6 col-offset-2"> 
        <div id="landing-page-list">
          <h4>New York Times Hardcover Fiction Best-seller List</h4>
          <ul class="list-group">
            <% for (var i = 0; i < hardcoverFictionList.results.length; i++) { %>
              <li class="list-group-item">
                <strong><%= i + 1 %>. </strong> <span id="capitals"><strong> <%= hardcoverFictionList.results[i].book_details[0].title.toLowerCase() %> </strong></span> by <%= hardcoverFictionList.results[i].book_details[0].author %>
                <br>
                <%= hardcoverFictionList.results[i].book_details[0].description %>
              </li>
            <% } %>
          </ul>
        </div>
      </div> 
      <!-- end of LHC -->
      
      <!-- start of RHC -->
      <div class="col-sm-6"> 
        <div id="landing-page-list">
          <h4>New York Times Paperback Mass-Market Fiction Best-seller List</h4>
          <ul class="list-group">
            <% for (var i = 0; i < paperbackFictionList.results.length; i++) { %>
              <li class="list-group-item">
                <strong><%= i + 1 %>. </strong> <span id="capitals"><strong> <%= paperbackFictionList.results[i].book_details[0].title.toLowerCase() %> </strong></span> by <%= paperbackFictionList.results[i].book_details[0].author %>
                <br>
                <%= paperbackFictionList.results[i].book_details[0].description %>
              </li>
            <% } %>
          </ul>
        </div>
      </div> 
      <!-- end of RHC -->

    </div> <!-- end of row div -->
  </div> <!-- end of container div -->
</body>
</html>


