<!DOCTYPE html>
<html>
<head>
  <!-- include head partial from ./views/_head.ejs -->
  <% include ./_head %>
</head>

<body>
	<header>
		<!-- include nav bar partial from ./views/_navBar.ejs -->
		<% include ./_navBar %>
	</header>

	<!-- heading and intro text -->
	<div class="container">
		<div class="row">
		  <div class="col-8 col-offset-2 introDiv">
			  <h3 id="homepageIntroText">T0-READ LIST</h3>
			  <hr>
			  <h5>
			  	By adding books to your to-read list you can keep track of books that you want to read in the future.
			  </h5>
		  </div> <!-- end of col -->
  	</div> <!-- end of row div -->
  </div> <!-- end of container div -->

	<div class="container">
		<div class="row">
		  <div class="col-8 col-offset-2" id="toReadListDiv">
			  <ul id="toReadList" class="list-group">
			  	<% for (var i = 0; i < user.booksToRead.length; i++) { %>
	  				<li class="list-group-item" data-id="<%= user.booksToRead[i]._id %>">
	  					<div class="row">
	  						<div class="col-sm-11">
			  					<!-- book titles and authors -->
									<span id="capitals"><strong> <%= user.booksToRead[i].title %> </strong></span> by <%= user.booksToRead[i].author %>
									<br>
		              <!-- book synopsis -->
		              <%= user.booksToRead[i].synopsis %>
		             </div>
	              <button type="button" data-id="<%= user.booksToRead[i]._id %>" class="col-sm-1 deleteBook mdl-button mdl-js-button mdl-button--accent"> <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
	  					</div>
	  				</li>
			  	<% } %>
			  </ul>
  		</div> <!-- end of col -->
	  </div> <!-- end of row div -->
	</div> <!-- end of container div -->
	<!-- include footer from ./views/_footer.ejs -->
	<% include ./_footer %>
</body>
</html>