<!DOCTYPE html>
<html>
<head>
  <!-- include head partial from ./views/_head.ejs -->
  <% include ./_head %>
</head>

<body>
	<header>
		<!-- include nav bar partial from ./views/_navBar.ejs -->
		<% include ./_navBar %>
	</header>

	<!-- heading and intro text -->
	<div class="container">
		<div class="row">
		  <div class="col-8 col-offset-2 introDiv">
			  <h3 id="homepageIntroText">Recommendations</h3>
			  <hr>
			  <h5>
			  	On this page we have compiled a list of recommendations for you, based on what you have already read and enjoyed.
			  </h5>
		  </div> <!-- end of col -->
  	</div> <!-- end of row div -->
  </div> <!-- end of container div -->

	<!-- results div -->
	<div class="container">
		<div class="row">
		  <div class="col-8 col-offset-2" id="recommendationsResultsDiv">
			  <ul id="recommendationsResultsList" class="list-group">
			  	<% for (var i = 0; i < books.length; i++) { %>
	  				<li class="list-group-item"
	  						data-title="<%= books[i].title %>"
	  						data-author="<%= books[i].author %>"
	  						data-synopsis="<%= books[i].synopsis %>"
	  						data-review=""
	  						data-image=""
	  						data-isbn="<%= books[i].isbn %>"
	  				>
	  					<!-- book titles and authors -->
							<span id="capitals"><strong> <%= books[i].title %> </strong></span> by <%= books[i].author %>
							<br>
              <!-- book synopsis -->
              <%= books.synopsis %>
            	<!-- add to to-read list button -->
              <br>
              <button type="button" class="btn btn-default btn-sm addToListBtn" data-container="body" data-toggle="popover" data-placement="bottom" data-content="This book has been added to your To-read list!">Add to list</button>
	  				</li>
			  	<% } %>
			  </ul>
  		</div> <!-- end of col -->
  	</div> <!-- end of row div -->
  </div> <!-- end of container div -->
	  
  <!-- include footer from ./views/_footer.ejs -->
  <% include ./_footer %>
</body>
</html>